name: Python Test Automation

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project
        run: uv sync --locked --all-extras

      - name: Run tests
        run: uv run pytest
  